**/.vs/
*.sln
*.pyproj

/temp/

# ---> Python
__pycache__/
*.pyc
**/.idea
Log/
*.py[cod]
*$py.class
*.log
*.zip
*.whl


# C extensions
*.so


# ---> Windows
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

venv/
